.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.grid {
  display: grid;  
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  gap: 8px;
}

.grid-item {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item button {
  aspect-ratio: 1;
    background-color: #FFDCDC;
  // background-color: #FFDCDC;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  // margin: 10px 10px;
  font-size: 16px;
  cursor: pointer;
}

