<div class="app">
  <ng-container>
    <div class="modal" *ngIf="showComponent">
        <form [formGroup]="player">
          <input type="radio" formControlName="playerSelect" value="x"/> 
          <label for="x">X</label>
          <input type="radio" formControlName="playerSelect" value="o"/>
          <label for="o">O</label>
        </form>
    </div>
  </ng-container>
  <h1>Tic-Tac-Toe</h1>
  <div class="game-options">
    <button type="button" (click)="onClick()">New Game</button>
    <div class="gameIdInput">
      <label>Game Id</label>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="gameId">
        <button type="submit">Submit</button>
      </form>
    </div>
</div>
<ng-container>
  <div class="grid" *ngIf="(board$ | async) as board"> 
    <div *ngFor="let button of board; let i = index" class="grid-item">
      <button type="button" 
      (click)="move(i)"
      >
        {{ button }}
      </button>
    </div>
  </div>
</ng-container>
  <router-outlet></router-outlet>
</div>